.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
}

.robot {
  list-style: none;
}

.card {
  display: flex;
  border: 2px solid #82a5ab;
  border-radius: 10px;
  background: #a0d0d9;
  margin-bottom: 1rem;
  color: rgb(100, 100, 100);
}

.card:nth-child(2n) {
  background: #c5e3e8;  
}


.info-text {
  line-height: 0;
  font-size: 1.2rem;
}

input {
  background: url(img/search.svg) no-repeat center scroll 7px 7px;
  padding-left: 3rem;
}