.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
}

.robot {
  list-style: none;
}

.card {
  display: flex;
  border: 2px solid #82a5ab;
  border-radius: 10px;
  background: #a0d0d9;
  margin-bottom: 1rem;
  color: rgb(100, 100, 100);
}

.card:nth-child(2n) {
  background: #c5e3e8;  
}

.info-text {
  line-height: 0;
  font-size: 1.2rem;
}

input[type="text"] {
  display: flex;
  border-radius: .3rem;
  border: 1px solid #ba547e;
  color: #999;
  background: url(img/search.svg) no-repeat 10px 10px;
  padding: 1rem 8rem 0 1rem;
}

input::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: #999;
  transform:translate3d(2rem,-8px,10px)
}

input::-webkit-input[type="text"] {
  font-size: 1.2rem;
  color: #999;
  transform:translate3d(2rem,-8px,10px)
}